
<div class="siva">
<div class="siva1">
<h1 style="text-align: center;margin-top: 10px;"> {{title}}</h1>
  <form class="mt-5 ms-5" [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>

<div style="margin-left:60px;">
<p>
  <label for="firstname" >First Name:</label>
  <input  class="ms-3" type="text" id="firstname" name="firstname" formControlName="firstname">
</p>
<div *ngIf="!firstname?.valid &&(firstname?.dirty||firstname?.touched)">
<div style="color:red" [hidden] ="!firstname?.errors?.['required']">
  First name is required
</div>
<div style="color:black" [hidden]="!firstname?.errors?.['minlength']">
  Min length is 10
</div>
<div style="color:green" [hidden]="!firstname?.errors?.['pattern']">
  Only Upper case letters are allowed
</div>
</div>

<p>
  <label  for="lastname" >Last Name:</label>
  <input class="ms-3" type="text" id="lastname" name="lastname" formControlName="lastname">
</p>
<div *ngIf="!lastname?.valid &&(lastname?.dirty||lastname?.touched)">
<div style="color:red"[hidden] ="!lastname?.errors?.['required']">
  Last name is required
</div>
<div style="color:black" [hidden]="!lastname?.errors?.['maxlength']">
  Max length is 10
</div>
<div style="color:green" [hidden]="!lastname?.errors?.['pattern']">
  Only Upper case letters are allowed
</div>
</div>

<p>
  <label for="gender">Gender: </label>
  <input class="ms-5" type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
  <input class="ms-3" type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
</p>
<div *ngIf="!gender?.valid && (gender?.dirty||gender?.touched)">
  <div style="color:red" [hidden] ="!gender?.errors?.['required']">
    Gender is required
</div>
</div>

<p>
  <label for="age" >Age: </label>
  <input style="margin-left: 60px;" type="number" id="age" name="age" formControlName="age">
</p>
<div *ngIf="!age?.valid &&(age?.dirty||age?.touched)">
<div style="color:red" [hidden] ="!age?.errors?.['required']">
  Age is required
</div>
</div>

<p>
  <label  for="mobilenumber" >Mobile No:</label>
  <input class="ms-3" type="text" id="mobilenumber" name="mobilenumber" formControlName="mobilenumber">
</p>
<div *ngIf="!mobilenumber?.valid &&(mobilenumber?.dirty||mobilenumber?.touched)">
<div style="color:red" [hidden] ="!mobilenumber?.errors?.['required']">
  Mobile number is required
</div>
<div style="color:green"[hidden]="!mobilenumber?.errors?.['pattern']">
  Starts with +91 & Only numbers are allowed
</div>
</div>

<p>
  <label  for="email" >Email-id:</label>
  <input style="margin-left: 30px;" type="email" id="email" name="email" formControlName="email">
</p>
<div *ngIf="!email?.valid &&(email?.dirty||email?.touched)">
<div style="color:red" [hidden] ="!email?.errors?.['required']">
  Email-id is required
</div>
<div style="color:blue" [hidden]="!email?.errors?.['email']">
  Email-id is invalid
</div>
</div>

<p>
  <label for="password" >Password:</label>
  <input style="margin-left: 22px;" type="password" id="password" name="password" formControlName="password">
</p>
<div *ngIf="!password?.valid &&(password?.dirty||password?.touched)">
<div style="color:red" [hidden] ="!password?.errors?.['required']">
  Password is required
</div>
<div style="color:blue"  [hidden]="!password?.errors?.['pattern']">
  Password must contain atleast one uppercase,one lowercase,number and special character.
</div>
</div>

<p>
  <label  for="confirmpassword" >ConfirmPwd:</label>
  <input style="margin-left:2px;" type="password" id="confirmpassword" name="confirmpassword" formControlName="confirmpassword">
</p>
<div *ngIf="!confirmpassword?.valid &&(confirmpassword?.dirty||confirmpassword?.touched)">
<div style="color:red" [hidden] ="!confirmpassword?.errors?.['required']">
  Last name is required
</div>
<div style="color:blue" [hidden]="!confirmpassword?.errors?.['pattern']">
  Password must contain atleast one uppercase,one lowercase,number and special character.
</div>
</div>
</div>
<BR>
  <BR>

<p><button type="Submit" style="margin-left:180px" class="btn btn-success" [disabled]="!signupForm.valid">Submit</button></p>
</form>
</div>
</div>
